<h1>Vehículo <small>Todas las marcas</small></h1>
<hr>

<div *ngIf="loading" class="alert alert-warning" role="alert" style="height: 50px; width: 300px">
    <strong>Cargando...</strong> por favor espere
</div>
<div *ngIf="vehiculos.lenght == 0 && !loading" class="alert alert-info" role="alert">
    <strong>No hay</strong> registros para mostrar
</div>

<div class="card-columns">

    <app-vehiculo-tarjeta (vehiculoSeleccionado)="verVehiculo( $event )" [vehiculo]="foo" [index]="i" *ngFor="let foo of vehiculos; let i=index "></app-vehiculo-tarjeta>

</div>