<h1>{{vehiculo.id ? "Editar Vehiculo" : 'Nuevo Vehiculo' }}</h1>
<h4>Creando o Modificado información de Vehiculo</h4>
<hr>
<div>
    <div>
        <form (ngSubmit)="guardar(forma)" #forma="ngForm">

            <div class="form-group row">
                <label class="col-2 col-form-label">Model</label>
                <div class="col-8">
                    <input class="form-control" name="model" [(ngModel)]="vehiculo_json.vehicle.model" type="text" placeholder="Ingrese Modelo" required #model="ngModel" minlength="2" />

                    <div *ngIf="model.errors?.required && model.touched">
                        Este campo es requerido!
                    </div>

                    <div *ngIf="model.errors?.minlength && model.touched">
                        Por lo menos {{ model.errors.minlength.requiredLength }} caracteres.
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Brand</label>
                <div class="col-8">
                    <input class="form-control" name="brand" [(ngModel)]="vehiculo_json.vehicle.brand" type="text" placeholder="Ingrese Marca" required #brand="ngModel" minlength="2" />

                    <div *ngIf="brand.errors?.required && brand.touched">
                        Este campo es requerido!
                    </div>

                    <div *ngIf="brand.errors?.minlength && brand.touched">
                        Por lo menos {{ brand.errors.minlength.requiredLength }} caracteres.
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Passengers_capacity</label>
                <div class="col-8">
                    <input class="form-control" name="passengers_capacity" [(ngModel)]="vehiculo_json.vehicle.passengers_capacity" type="number" placeholder="Ingrese Capacidad" required min="1" #passengers_capacity="ngModel">

                    <div *ngIf="passengers_capacity.errors?.required && passengers_capacity.touched">
                        Este campo es requerido!
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Category</label>
                <div class="col-8">
                    <select name="category" [(ngModel)]="vehiculo_json.vehicle.category" type="number" required style="height: 30px; width: 250px" #category="ngModel">

                        <option value=null >Seleccione categoría...</option>
                        <option *ngFor="let vehic of veh" [ngValue]="vehic.value" >
                            {{vehic.view}}
                        </option>

                        <div *ngIf="category.errors?.required && category.touched">
                            Debe Seleccionar alguna opcion!
                        </div>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Price</label>
                <div class="col-8">

                    <input class="form-control" name="price" [(ngModel)]="vehiculo_json.vehicle.price" type="number" placeholder="Ingrese Precio" min="10000" minlength="5" #price="ngModel" required>

                    <div *ngIf="price.errors?.required && price.touched">
                        Este campo es requerido!
                    </div>

                    <div *ngIf="price.errors?.minlength && price.touched">
                        Mayor a 10000.
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Year</label>
                <div class="col-8">
                    <input class="form-control" name="year" [(ngModel)]="vehiculo_json.vehicle.year" type="number" placeholder="Ingrese Año" min="1900" max="2018" #year="ngModel" required />

                    <div *ngIf="year.errors?.required && year.touched">
                        Este campo es requerido!
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Weight</label>
                <div class="col-8">

                    <input class="form-control" name="weight" [(ngModel)]="vehiculo_json.vehicle.weight" type="number" placeholder="Ingrese Peso" #weight="ngModel" required />

                    <div *ngIf="weight.errors?.required && weight.touched">
                        Este campo es requerido!
                    </div>
                </div>
            </div>
            <!--div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                    <button type="submit" class="btn btn-outline-primary">
                    Guardar Formulario
                  </button>
                </div>
            </div-->
        </form>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary" (click)="submitForm()" [routerLink]="['/vehiculos']"> Guardar </button>
            <button class="btn btn-outline-primary" [routerLink]="['/home']">Cancelar</button>
        </div>
    </div>

</div>