<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="vehiculos.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{ termino }}
        </div>
    </div>
</div>


<div class="card-columns">

    <app-vehiculo-tarjeta [vehiculo]="foo" [index]="foo.idx" *ngFor="let foo of vehiculos"></app-vehiculo-tarjeta>



</div>