<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <div class="container">
        <h1 class="display-3">Vehiculos App</h1>
        <p class="lead" style="margin-bottom: 30px">Esta es una aplicación de venta de vehículos.</p>
    </div>
    <div style="margin-left:50px">
        <h5>Vehiculos encontrados:</h5>
        <li *ngFor="let vehiculo of vehiculos" style="margin-left: 50px">
            {{ vehiculo.brand }} {{ vehiculo.model }} modelo {{ vehiculo.year }}, su precio es de ${{ vehiculo.price | number}}
        </li>
    </div>
</div>