<div class="card animated fadeIn fast">
    <!--img class="card-img-top img-fluid" [src]="vehiculo.img" [alt]="vehiculo.nombre"-->
    <div class="card-body">
        <h4 class="card-title">{{ vehiculo.brand }} {{vehiculo.model}} ({{ vehiculo.year }})</h4>
        <p class="card-text">Capacidad: {{ vehiculo.passengers_capacity | number }} </p>
        <p class="card-text">Categoria: {{ vehiculo.category | titlecase }} </p>
        <p class="card-text">Precio: ${{ vehiculo.price | number }} </p>
        <p class="card-text">Peso: {{ vehiculo.weight | number }}kgs </p>
        <button (click)="verVehiculo()" type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
        <!-- <a [routerLink]="['/vehiculo',i]" class="btn btn-outline-primary">Ver más link...</a> -->

    </div>
</div>