<h1 class="animated fadeIn">{{ vehiculo.brand | uppercase }} <small>({{ vehiculo.year | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">

    <div class="col-md-4">
        <br><br>
    </div>

    <div class="col-md-8">

        <h6>id: {{ vehiculo.id }}</h6>
        <h3>Marca: {{ vehiculo.brand }}</h3>
        <hr>
        <p>
            Modelo: {{ vehiculo.model }}
        </p>
        <p>
            Año: {{ vehiculo.year }}
        </p>
        <p>
            Capacidad: {{ vehiculo.passengers_capacity }} personas
        </p>
        <p>
            Categoría: {{ vehiculo.category | titlecase }}
        </p>
        <p>
            Peso: {{ vehiculo.weight | number }}kgs
        </p>
        <h3 style="text-align: right;">Precio: ${{ vehiculo.price | number }}</h3>
        <div style="text-align: right">
            <a class="btn btn-outline-primary" [routerLink]="[ '/vehiculos']" style="margin-top: 20px; margin-right: 10px; margin-left: 10px">Regresar</a>
            <button class="btn btn-outline-warning" (click)="EditarVehiculo()" type="button" style="margin-top: 20px;margin-right: 10px; margin-left: 10px">Editar</button>
            <button class="btn btn-outline-danger " (click)="EliminarVehiculo()" style="margin-top: 20px;margin-right: 10px; margin-left: 10px">Eliminar</button>

        </div>


    </div>

</div>